.calendar {
  flex: 0 0 300px;
  display: flex;
  flex-flow: column;;
  .week {
    flex-flow: row;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
  }
  .day {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
  }
  .date-info-bar {
    display: flex;
    > .date-info {
      flex: 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      > div {
        flex: 1;
      }
    }
  }
}
