.calendar {
  flex: 0 0 300px;
  display: flex;
  flex-flow: column;;
  .week {
    flex-flow: row;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
  }
  .day {
    flex: 1;
    text-transform: uppercase;
    border-radius: 50%;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    &.is-today {
      border-color: orange;
    }
    &.contains-time-entries {
      background: silver;
    }
    &.is-selected {
      background: orange!important;
    }
  }
  .date-info-bar {
    display: flex;
    > .date-info {
      flex: 1;
      display: flex;
      flex-flow: column;
      align-items: center;
      > div {
        flex: 1;
      }
    }
  }
}
