$visual-day-colors:   #f66d5e,
                      #4ada6e,
                      #0fbddc,
                      #7e5ae2;
$tealA:               #36D6B0;
$teal100:             #71E2C8;
$orangeA:             #F66D5E;
$blueGrey900:         #18191B;
$blueGrey800:         #1C1D22;
$blueGrey700:         #232429;
$blueGrey600:         #2D313C;
$blueGrey500:         #353A47;
$blueGrey400:         #404654;
$beigeGrey100:        #F9F9F8;
$beigeGrey200:        #E4E7E2;
$beigeGrey300:        #EFF1ED;
$beigeGrey400:        #D5DAD2;
$beigeGrey500:        #BDC2BA;
$white:               #ffffff;
