@font-face {
    font-family: 'rolade_freeregular';
    src: url('../fonts/rolade_free-webfont.eot');
    src: url('../fonts/rolade_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rolade_free-webfont.woff2') format('woff2'),
         url('../fonts/rolade_free-webfont.woff') format('woff'),
         url('../fonts/rolade_free-webfont.ttf') format('truetype'),
         url('../fonts/rolade_free-webfont.svg#rolade_freeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
