html, body {
  overflow: hidden;
}

body, #app-container, .app {
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
}

.site, .content {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100vh;
}

.content {
  .page {
    flex: 1;
    display: flex;
  }
  .app-bar {
    flex: 0 0 64px;
  }
  .page-content {
    flex: 1;
    display: flex;
  }
}

.app {
  display: flex;
}
.sidebar {
  flex: 0 0 200px;
  background: gray;
}
.container {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.topbar {
  background: gray;
  flex: 0 0 70px;
}
main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  position: relative;
}
#tracking-container {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.time-container {
  display: flex;
  flex: 0 0 270px;
}
