.sidebar {
  background: #E4E7E2;
  display: flex;
  flex-flow: column;
  max-width: 200px;
  &.page-sidebar {
    z-index: 1400;
    background: #fff;
  }
  .user-profile {
    flex: 0 0 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: $blueGrey700;
    color: #fff;
    a {
      padding: 10px;
      color: #fff;
      border-radius: 5px;
      border: 1px solid $white;
    }
    > * {
      margin: 10px;
    }
  }
  .app-navigation {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    > li {
      background: $beigeGrey200;
      &, > a {
        flex: 1;
        display: flex;
        color: $orangeA;
      }
      > a {
        justify-content: center;
        align-items: center;
      }
      &.active {
        background: $orangeA;
        &, > a {
          color: $white;
        }
      }
    }
  }
}
