.time-entries-container {
  flex: 1;
  display: flex;
  flex-flow: column;
  position: relative;
}
.time-entry-listing {
  flex: 1;
  overflow-y: auto;
  .project-wrap:hover {
    .index {
      button {
        opacity: 1;
      }
      .index-number {
        opacity: 0;
      }
    }
  }
  .project-wrap-item {
    display: flex;
    .index {
      position: relative;
      > * {
        transition: none!important;
      }
      .index-number {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        opacity: 1;
      }
      button {
        opacity: 0;
        padding: 10px!important;
         > div {
          background: $orangeA!important;
          border-radius: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            fill: $white!important;
          }
        }
      }
    }
    > button > div {
      display: flex;
      .duration {
        padding: 0 10px;
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      .name {
        display: flex;
      }
      .name-item {
        display: flex;
        align-items: center;
      }
    }
  }
  $colors: $visual-day-colors;
  @for $i from 1 through length($colors) {
      $c: nth($visual-day-colors, $i);
      .project-wrap:nth-child(#{length($colors)}n+#{$i}) {
        .color-identifier {
          flex: 0 0 3px;
          margin: 7px 5px 7px 0;
          background: nth($colors, $i);
        }
      }
  }
  .project-wrap-children {
    padding-left: 30px;
  }
  .time-entry {
    display: flex;
    height: 40px;
    align-items: center;
    background: #f3f3f3;
    .index {
      padding: 0 10px;
    }
    .dates-wrap {
      flex: 1;
      justify-content: space-around;
      display: flex;
      .date {
        display: flex;
        align-items: center;
        > * {
          padding: 0 5px;
        }
      }
    }
    .duration {
      padding: 0 10px;
      margin-left: auto;
      display: flex;
      align-items: center;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.time-entry-listing-header {
  display: flex;
  height: 45px;
  font-size: 18px;
  align-items: stretch;;
  color: $white;
  justify-content: space-between;
  overflow: hidden;
  .day-label, .day-workload {
    display: flex;
    padding: 0 20px;
    align-items: center;
  }
  .day-label {
    flex: 1;
    background: $blueGrey500;
    box-shadow: 0 0 7px #000000;
    z-index: 1;
  }
  .day-workload {
    flex: 0 0 100px;
    background: $blueGrey600;
    justify-content: flex-end;
  }
}
