.time-entries-container {
  flex: 1;
  display: flex;
  flex-flow: column;
}
.time-entry-listing {
  flex: 1;
  overflow-y: auto;
  .project-wrap-item {
    display: flex;
    > button > div {
      display: flex;
      .index {
        padding: 0 10px;
      }
      .duration {
        padding: 0 10px;
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      .name {
        display: flex;
      }
      .name-item {
        display: flex;
        align-items: center;
      }
    }
  }
  .project-wrap-children {
    padding-left: 30px;
  }
  .time-entry {
    display: flex;
    height: 40px;
    align-items: center;
    background: #f3f3f3;
    .index {
      padding: 0 10px;
    }
    .dates-wrap {
      flex: 1;
      justify-content: space-around;
      display: flex;
      .date {
        display: flex;
        align-items: center;
        > * {
          padding: 0 5px;
        }
      }
    }
    .duration {
      padding: 0 10px;
      margin-left: auto;
      display: flex;
      align-items: center;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.time-entry-listing-header {
  display: flex;
  .days-workload {
    margin-left: auto;
  }
}
