.move-up-enter {
  transform: translate3d(0, 50%, 0);
  opacity: 0;
}

.move-up-enter.move-up-enter-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.move-up-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.move-up-leave.move-up-leave-active {
  transform: translate3d(0, 50%, 0);
  opacity: 0;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
